sb-api/src/main/resources/root-entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:samplr/entity/1"
           xmlns:smplr="urn:samplr/entity/1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="addresses" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="smplr:AddressType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddressType">
      <xs:sequence>
        <xs:element name="zip">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="street" type="xs:string"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>
