sb-api/src/main/resources/root-entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:samplr/entity/1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
